<mat-toolbar>
  <mat-toolbar-row>
    <span>Our trucks</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Add" (click)="addNewTruck()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<table mat-table
       [dataSource]="trucks" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Informations</span>
            <span class="spacer"></span>
            <button mat-icon-button aria-label="Edit" (click)="editTruck(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete" (click)="deleteTruck(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="element-description">
          The {{element.name}} which is a heavy range truck with a {{element.horsepower}} HP engine
          power, {{element.displacement}} cm3
          engine consuming {{element.fueltype}} fuel.
          <ng-container *ngIf="element.colors.length > 0">This truck is available in the colors
            <span *ngFor="let color of element.colors; first as isFirst; last as isLast">
              <ng-container *ngIf="isFirst">{{color}}</ng-container>
              <ng-container *ngIf="!isFirst && !isLast">, {{color}}</ng-container>
              <ng-container *ngIf="!isFirst && isLast"> and {{color}}</ng-container>
            </span>.
          </ng-container>
          <ng-container *ngIf="element.applicationSegments.length > 0">There are different configurations of this truck available for the following application segments:
            <span *ngFor="let applicationSegment of element.applicationSegments; first as isFirst; last as isLast">
              <ng-container *ngIf="isFirst">"{{applicationSegment}}"</ng-container>
              <ng-container *ngIf="!isFirst && !isLast">, "{{applicationSegment}}"</ng-container>
              <ng-container *ngIf="!isFirst && isLast"> and "{{applicationSegment}}"</ng-container>
            </span>.
          </ng-container>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
