table {
  width: 100%;

  td.mat-cell.cdk-column-expandedDetail {
    padding: 0;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row {
    &:not(.expanded-row):hover {
      background: #777;
    }

    &:active {
      background: #efefef;
    }

    td {
      border-bottom-width: 0;
    }
  }
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-update {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

mat-toolbar {
  width: 100%;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}
