<h1 mat-dialog-title>{{data.title}}</h1>
<form [formGroup]="formGroup">
  <div mat-dialog-content>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Horsepower" formControlName="horsepower" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Displacement" formControlName="displacement" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fuel Type</mat-label>
      <mat-select formControlName="fueltype" required>
        <mat-option *ngFor="let fueltype of dictionariesService.FuelTypes" [value]="fueltype">{{fueltype}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Range</mat-label>
      <mat-select formControlName="range" required>
        <mat-option *ngFor="let range of dictionariesService.Ranges" [value]="range">{{range}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Colors</mat-label>
      <mat-select formControlName="colors" multiple required>
        <mat-option *ngFor="let color of dictionariesService.Colors" [value]="color">{{color}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Application Segments</mat-label>
      <mat-select formControlName="applicationSegments" multiple required>
        <mat-option *ngFor="let appSegments of dictionariesService.ApplicationSegments"
                    [value]="appSegments">{{appSegments}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="formGroup.value" cdkFocusInitial
            [disabled]="!formGroup.valid">{{data.saveButton}}</button>
  </div>
</form>
